<h1 class="page-title">{{ 'title.challenge'|translate }}</h1>
<div translate="page.challenge"></div>

<ul class="">
    <li class="">
        <p>{{ 'title.identifying'|translate }}</p>
        <a class="btn-read-more" ui-sref="home.business.challenge.identifying" ui-sref-active="active">
            {{ 'button.read-more'|translate }}
        </a>
    </li>
    <li class="">
        <p>{{ 'title.operation'|translate }}</p>
        <a class="btn-read-more" ui-sref="home.business.challenge.operation" ui-sref-active="active">
            {{ 'button.read-more'|translate }}
        </a>
    </li>
    <li class="">
        <p>{{ 'title.distributor'|translate }}</p>
        <a class="btn-read-more" ui-sref="home.business.challenge.distributor" ui-sref-active="active">
            {{ 'button.read-more'|translate }}
        </a>
    </li>
    <li class="">
        <p>{{ 'title.subsidiary'|translate }}</p>
        <a class="btn-read-more" ui-sref="home.business.challenge.subsidiary" ui-sref-active="active">
            {{ 'button.read-more'|translate }}
        </a>
    </li>
</ul>
