<h1>About Kazamax</h1>
<ul class="menu">
    <li class="menu-item">
        <a class="menu-link" ui-sref="home.kazamax.services" ui-sref-active="active">
            {{ 'title.services'|translate }}
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link" ui-sref="home.kazamax.advantages" ui-sref-active="active">
            {{ 'title.advantages'|translate }}
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link" ui-sref="home.kazamax.differentials" ui-sref-active="active">
            {{ 'title.differentials'|translate }}
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link" ui-sref="home.kazamax.cases" ui-sref-active="active">
            {{ 'title.cases'|translate }}
        </a>
    </li>
</ul>
